.list-item-wrapper {
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.task-info {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
